<template>
  <div class="warrick">
    <h1>This is an about Warrick</h1>
    <Input name='WOW'/>

  </div>
</template>

<script>

import Input from '@/components/inputSpace.vue';

export default {
  name: 'Warrick',
  components: {
    Input,
  },
  data() {
    return {
      key: 1,
    };
  },
  methods: {
    name() {
    },
  },
};

</script>

<style>
.warrick {
  background-color: aquamarine;
}
</style>
