<template>
  <h2>Hi, <span id='name'>{{ name }}</span></h2>
  <div id="counter">
    Counter: <input type="text" v-model=counter>
    <div>Now Counter: {{counter}}</div>
  </div>
</template>

<script>
export default {
  props: {
    name: String,
  },
  data() {
    return {
      counter: 1,
    };
  },
  methods: {
    show() {
      console.log('counter :>> ', this.counter);
    },
  },
};

</script>

<style>
#name {
  font-size: 64px;
}
</style>
